
.Wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;        
}
.ball {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 70px;
    background: -webkit-linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
    background: -moz-linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
    background: linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
    box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), inset -2px -1px 40px rgba(0,0,0,0.4), 0 0 1px #000;

}

.ball::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 15px;
    border-radius: 20px / 10px;
    left: 15px;
    top: 5px;
    background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
    background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
}

.background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background: url(../images/Screens/menu.png) no-repeat center center fixed;
}


body{
    overflow: hidden;
}
html{
    overflow: hidden;
}

/*.bcolor{
    background-color: red;
    position: absolute; background: url('../images/walking-girl.png'); width: 10px; height: 20px;
}*/



